<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >


<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>listeners.ContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>listeners.SessionListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>FrontPageServlet</servlet-name>
    <servlet-class>servlets.FrontPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateQuiz</servlet-name>
    <servlet-class>servlets.CreateQuizServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuizInfo</servlet-name>
    <servlet-class>servlets.QuizInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlayQuiz</servlet-name>
    <servlet-class>servlets.PlayQuizServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MailPanel</servlet-name>
    <servlet-class>servlets.MailPanelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>servlets.SendMailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>servlets.SearchServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FrontPageServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateQuiz</servlet-name>
    <url-pattern>/CreateQuiz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuizInfo</servlet-name>
    <url-pattern>/QuizInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlayQuiz</servlet-name>
    <url-pattern>/PlayQuiz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailPanel</servlet-name>
    <url-pattern>/MailPanel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
</web-app>
