<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >


<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>listeners.ContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>listeners.SessionListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>FrontPageServlet</servlet-name>
    <servlet-class>servlets.FrontPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateQuiz</servlet-name>
    <servlet-class>servlets.CreateQuizServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuizInfo</servlet-name>
    <servlet-class>servlets.QuizInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlayQuiz</servlet-name>
    <servlet-class>servlets.PlayQuizServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MailPanel</servlet-name>
    <servlet-class>servlets.MailPanelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>servlets.AddFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Image</servlet-name>
    <servlet-class>servlets.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveQuiz</servlet-name>
    <servlet-class>servlets.RemoveQuizServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageUser</servlet-name>
    <servlet-class>servlets.ManageUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Announcement</servlet-name>
    <servlet-class>servlets.AnnouncementServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FriendsPage</servlet-name>
    <servlet-class>servlets.FriendsPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>servlets.AddCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Report</servlet-name>
    <servlet-class>servlets.ReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Rating</servlet-name>
    <servlet-class>servlets.RatingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendChallenge</servlet-name>
    <servlet-class>servlets.SendChallengeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FrontPageServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateQuiz</servlet-name>
    <url-pattern>/CreateQuiz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuizInfo</servlet-name>
    <url-pattern>/QuizInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlayQuiz</servlet-name>
    <url-pattern>/PlayQuiz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailPanel</servlet-name>
    <url-pattern>/MailPanel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/AddFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveQuiz</servlet-name>
    <url-pattern>/RemoveQuiz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageUser</servlet-name>
    <url-pattern>/ManageUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Announcement</servlet-name>
    <url-pattern>/Announcement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendsPage</servlet-name>
    <url-pattern>/FriendsPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rating</servlet-name>
    <url-pattern>/Rating</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendChallenge</servlet-name>
    <url-pattern>/SendChallenge</url-pattern>
  </servlet-mapping>
</web-app>