.activities-panel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--error-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 100%;
    margin-bottom: 20px;
    scrollbar-width: thin;
    scrollbar-color: var(--error-color) var(--accent-color);
    color: var(--accent-color);
}

.activity-box {
    flex: 0 0 auto;
    padding: 10px;
    border-right: 1px solid var(--secondary-color);
    text-align: center;
}

.activity-box:last-child {
    border-right: none;
}

.details {
    flex: 1 1 auto;
    padding: 10px;
}
.activity-box .details a{
    background-color: var(--accent-color);
    color: var(--error-color);
    padding: 5px;
    border-radius: 5px;
}
.activity-box .details a:hover{
    background-color: var(--secondary-color);
}



.friend-box {
    display: flex;
    align-items: center;
    background-color: var(--error-color);
    padding: 10px;
    margin-bottom: 10px;
}
.friend-info {
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
}
.friend-info a {
    margin-left: 100px;
}
.friend-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.friend-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.friend-buttons button {
    margin-bottom: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: var(--accent-color);
    width: 100px;
}
.friend-buttons button:hover {
    background-color: var(--secondary-color);
}
.hidden {
    display: none;
}
.mail-form textarea {
    border: none;
    width: 200px;
}
.mail-form button {
    margin-bottom: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: var(--accent-color);
    width: 200px;
}
.mail-form button:hover {
    background-color: var(--secondary-color);
}