@import url("colorPalette.css");

/*general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--accent-color);
}

main {
    padding: 20px;
    padding-top: 100px;
    width: 75%;
    height: 100%;
    background-color: var(--primary-color);
    margin: 0 auto;
    min-height: 100vh;
}

/*header*/

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--secondary-color);
    top: 0px;
    width: 100%;
}

.search-box {
    position: relative;
    width: 100%;
    max-width: 250px;
    padding-left: 20px;
}

.search-box input[type="search"] {
    width: 100%;
    padding: 10px 15px 10px 10px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 0px solid #ccc;
    border-radius: 3px;
    outline: none;
    transition: all 0.3s ease;
}

.search-box input[type="search"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: #fff;
}

.search-box input[type="search"]::placeholder {
    color: #aaa;
    font-style: italic;
}

.search-box button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #aaa;
    cursor: pointer;
}

.search-box button:focus {
    outline: none;
}

.search-box button:hover {
    color: #007BFF;
}

a {
    text-decoration: none;
    color: white;
}

.logo img {
    max-height: 50px;
}

.main-nav ul, .mail-nav ul, .auth-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li, .mail-nav ul li, .auth-nav ul li {
    margin-right: 0px;
    padding: 10px;
}

.main-nav ul li:last-child, .mail-nav ul li:last-child, .auth-nav ul li:last-child {
    margin-right: 0;
}

.main-nav ul li a, .mail-nav ul li a, .auth-nav ul li a, .auth-nav ul li input {
    text-decoration: none;
    color: var(--accent-color);
    background-color: var(--primary-color);
    padding: 20px;
    font-weight: bold;
    border: none;
    margin-top: 0px;
}

.main-nav ul li a:hover, .mail-nav ul li a:hover, .auth-nav ul li a:hover, .auth-nav ul li input:hover {
    color: var(--secondary-color);
    background-color: var(--error-color);
}

.auth-nav {
    margin-left: auto;
}

/*quiz boxes*/

.quiz-list-wrapper {
    margin: 20px;
}

.quiz-list-wrapper h2 {
    margin-bottom: 10px;
}

.quiz-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.quiz-box {
    width: 250px;
    border: 3px solid var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--secondary-color);
}

.quiz-box-name {
    text-align: center;
}

.quiz-box-top {
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.quiz-box-name {
    padding: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.0));
}

.quiz-box-bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 20px;
    background-color: var(--secondary-color);
}



.user-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user-box {
    width: 150px;
    border: 3px solid var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--secondary-color);
}

.user-box-top {
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color: var(--accent-color);
}

.user-box-bot {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20px;
    background-color: var(--secondary-color);
}

/*mail*/

#mail-panel {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: var(--error-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 20px;
    z-index: 1000;
}

#mail-panel #send-mail {
    text-decoration: none;
    color: var(--accent-color);
    background-color: var(--primary-color);
    padding: 10px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
#mail-panel #send-mail:hover {
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.message-box {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px;
    margin: 10px;
    word-break: break-all;
}
.active-message {
    background-color: #643d00;
}
