.history-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust 250px as needed */
    gap: 20px; /* Adjust the gap between items */
}

.history-box {
    background-color: var(--error-color);
    color: var(--accent-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: fit-content;
}

.history-grade {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.history-writing-time {
    font-size: 1rem;
}

.history-completed-at {
    font-size: 0.9rem;
    margin-top: 5px;
}

.history-quiz {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent-color); /* Blue color, adjust as needed */
    color: var(--error-color); /* White text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center text */
}

.history-quiz:hover {
    background-color: var(--secondary-color); /* Darker shade on hover */
}