@import url("colorPalette.css");

main {
    width: 70%;
    height: fit-content;
}

h1, h3, h4 {
    text-align: center;
    margin: 20px
}

.question-box {
    width: 90%;
    background-color: var(--secondary-color);
    margin: 20px auto;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    display: none;
    overflow: hidden;
}
.active {
    display: block;
}

.question-box hr {
    border: 1px solid var(--error-color);
    border-radius: 5px;
}

.question-box p {
    font-size: 20px;
}
.question-box label {
    font-size: 18px;
}

#quiz-submit-button {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    background-color: var(--error-color);
    border: 1px solid var(--error-color);
    border-radius: 5px;
    padding: 5px;
}
#quiz-submit-button:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}



#question-list {
    position: fixed;
    top: 100px;
    left: 10px;
    background-color: var(--error-color);
    border: 1px solid var(--error-color);
    border-radius: 5px;
    text-align: center;
    width: 13%;
}
#question-list button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 40px;
    border: none;
}
#question-list button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#question-results {
    position: fixed;
    top: 200px;
    left: 0px;
    margin: 10px;
    background-color: var(--error-color);
    border: 1px solid var(--error-color);
    border-radius: 10px;
    padding: 10px;
    width: 13%;
    text-align: center;
}

#practice-result-panel {
    position: fixed;
    left: 10px;
    top: 200px;
    background-color: var(--error-color);
}
.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}



img {
    width: 100%;
    object-fit: contain;
    height: 500px;
}
.answer-inp {
    border: none;
    padding: 5px;
    margin: 5px;
    width: 20%;
}
.mamc-inp, .mc-inp {
    width: 5%;
}
.send-question {
    border: none;
    padding: 10px;
    background-color: var(--error-color);
    float: right;
}
.send-question:hover {
    background-color: var(--accent-color);
}