@import url("colorPalette.css");

main {
    height: fit-content;
    text-align: center;
    color: var(--accent-color)
}

main strong a {
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    color: var(--error-color);
    margin-bottom: 20px;
    padding: 10px;
}
main strong a:hover {
    background-color: var(--error-color);
    border-color: var(--error-color);
    color: var(--accent-color);
}

.history-box {
    display: inline-block;
    background-color: var(--error-color);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.history-box hr{
    border: 1px solid var(--accent-color);
}